
<!DOCTYPE html>
<html>

<head>
    <title>Agence web AnDWeb973 - création de sites internet - Guyane</title>
    <meta name="description" content="AnDWeb973 est une agence web en Guyane qui crée des sites internet modernes, responsive et de
    qualité et s'adapte à tous vos projets.">
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="icon" type="image/x-icon" href="{{ asset('img/favicon4.png') }}"/>

    <!-- css -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Open+Sans:400,300,700,800" rel="stylesheet" media="screen">

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('css/style.css') }}" rel="stylesheet" media="screen">
    <link href="{{ asset('color/default.css') }}" rel="stylesheet" media="screen">

    <!-- =======================================================
      Theme Name: Alstar
      Theme URL: https://bootstrapmade.com/alstar-free-parallax-bootstrap-template/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
{% block content %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>

</html>
